.caja-equipo {
    border: 1px solid #aaaaaa;
    height: 86px;
    width: 300px;
    margin-top: 80px;
}

.caja-pilotos {
    margin-top: 150px;
}

.margin-row {
    margin-bottom: 20px;
}

.botones-dificultad {
    width: 200px;
}

.perfil-piloto {
    transition: transform 1s;
}

.tooltip-caja {
    color: #aaaaaa;
}